@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #436436;
    display: flex;
    justify-content: center;   
}

.caixa1{
    background-color: #EBEFA0;
    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    align-content: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #000000;

    border-radius: 20px;
    border: 4px solid #000000;

    margin-top: 10%;
    color: #000000;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}